name: Continous Integration

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always
  GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/rust-cargo
        with:
          command: check

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/rust-cargo
        with:
          command: test

  fmt:
    name: Format Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/rust-cargo
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/rust-cargo
        with:
          command: clippy
          args: -- -D warnings

  codecov:
    name: Codecov
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/rust-codecov
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}

  audit:
    name: Audit Codebase
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt install libssl-dev
      - uses: ./.github/workflows/rust-cargo
        with:
          command: install
          args: cargo-audit
      - uses: ./.github/workflows/rust-cargo
        with:
          command: audit

  validate-infra:
    name: Validate Infrastructure
    runs-on: ubuntu-latest
    needs: [ check, test, fmt, clippy, codecov, audit ]
    if: success()
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.1.7

      - name: Terraform Format
        run: terraform -chdir=infrastructure fmt -check

      - name: Terraform Validate
        run: terraform -chdir=infrastructure validate

  deploy-sit:
    name: Deploy SIT
    runs-on: ubuntu-latest
    needs: validate-infra
    if: success() && github.ref == 'refs/heads/master' && github.event_name == 'push'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.1.7

      - name: Terraform Init
        run: terraform -chdir=infrastructure init

      - name: Terraform Plan SIT
        id: plan
        run: terraform -chdir=infrastructure apply -auto-approve -var-file=env/dev.tfvars
